<?xml version='1.0' encoding='utf-8'?>
<widget id="com.BussApp.mx" version="0.7.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BussApp</name>
    <description>
        App Transporte publico Guadalajara
    </description>
    <author email="bernagaufo@hotmail.com" href="bernagaufo.com">
        Rafael Robles B.
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
